# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pickle files
*.pkl

# zip files
*.zip

# log files
*.log

# temporarely files
*.tmp

# deployment packages
*package/

test-using-os-environ.py

